<div class="input-group date datepicker">
    <input class="form-control" type="text" readonly {{bind-attr value="formattedValue" rel="rel"}}>
    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
</div>
