{{#if label}}
<label>{{label}}</label>
{{/if}}
{{flexberry-textbox
  class=class
  type=type
  value=value
  readonly=(if readonly "readonly")
  required=required
  placeholder=placeholder
  maxlength=maxlength
  isUseVoiceTyping=isUseVoiceTyping
}}
