{{#ui-dropdown value=value class=(concat "flexberry-dropdown " type " selection" (if readonly " disabled" ""))}}
    <i class="dropdown icon"></i>
    <div class="text">{{currentText}}</div>
    <div class="menu">
      {{#each items as |item|}}
          <div class="item" data-value={{item}}>{{item}}</div>
      {{/each}}
    </div>
{{/ui-dropdown}}