{{#if header}}
  <div class="header">{{header}}</div>
{{/if}}
<ul class="list">
  {{#if _isEmberDataErrors}}
    {{#each-in errors as |key|}}
      {{#with (get errors key) as |errors|}}
        {{#if (is-array errors)}}
          {{#each errors as |error|}}
            <li>{{error}}</li>
          {{/each}}
        {{/if}}
      {{/with}}
    {{/each-in}}
  {{else}}
    {{#each errors as |error|}}
      <li>{{error}}</li>
    {{/each}}
  {{/if}}
</ul>