<div class="ui dropdown selection group-toolbar {{if readonly "disabled"}}">
  <span class="text">{{title}}</span>
  <i class="icon dropdown"></i>
  {{button-dropdown-menu
    buttons=buttons
    sendButtonAction=(action "sendButtonAction")
  }}
</div>
