{{textarea
  value=value
  readonly=(if readonly "readonly")
  required=(if required "required")
  placeholder=placeholder
  rows=rows
  cols=cols
  disabled=(if disabled "disabled")
  maxlength=maxlength
  selectionEnd=selectionEnd
  selectionStart=selectionStart
  selectionDirection=selectionDirection
  wrap=wrap
  autofocus=(if autofocus "autofocus")
  spellcheck=(if spellcheck "spellcheck")
}}
{{#if (and voiceTypingIsActive (not readonly))}}
  <button
    type="button"
    class="ui button voice-typing"
    title={{t "components.flexberry-textarea.voice-button-text"}}
    {{action "voiceTyping"}}>
    <i class="circular microphone link icon" />
  </button>
{{/if}}
