<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    {{title}}
  </div>
  <div class="content">
    <div class="description">
      {{yield}}
    </div>
  </div>
  <div class="actions">
    <button type="button" class="ui cancel button" data-dismiss="modal">Close</button>
    <button type="button" class="ui positive button">OK</button>
  </div>
</div>