<div style="float: left; width: 45%;">
  {{flexberry-textbox
    value=from
    placeholder=fromPlaceholder
    dynamicProperties=dynProps
  }}
</div>
<div style="float: right; width: 45%;">
  {{flexberry-textbox
    value=to
    placeholder=toPlaceholder
    dynamicProperties=dynProps
  }}
</div>