{{#if refreshButton}}
  <button class="ui button" {{action "clickRefreshButton"}}>Refresh</button>
{{/if}}
{{#if createNewButton}}
  <div class = "ui button">
    {{#link-to createNewPath}}
      <div class="ui middle aligned content">
        <p class="ui small">Add</p>
      </div>
    {{/link-to}}
  </div>
{{/if}}