<div class="field">
  {{component this.componentName
    value=this.from
    placeholder=this.fromPlaceholder
    dynamicProperties=this.dynProps
  }}
</div>
<div class="field">
  {{component this.componentName
    value=this.to
    placeholder=this.toPlaceholder
    dynamicProperties=this.dynProps
  }}
</div>