<div class="field">
  {{component componentName
    value=from
    placeholder=fromPlaceholder
    dynamicProperties=dynProps
  }}
</div>
<div class="field">
  {{component componentName
    value=to
    placeholder=toPlaceholder
    dynamicProperties=dynProps
  }}
</div>