{{#if refreshButton}}
  <button class="ui button" {{action "refresh"}}>{{t "olv-toolbar.refresh-button-text"}}</button>
{{/if}}
{{#if createNewButton}}
  <button class="ui button" {{action "createNew"}}>{{t "olv-toolbar.add-button-text"}}</button>
{{/if}}
