<h3 class="ui header">{{t "forms.components-examples.flexberry-simpledatetime.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <a href="https://flexberry.github.io/ru/ef2_edit-form-components.html#flexberry-simpledatetime">
    {{t "forms.components-examples.docs-link"}}
  </a>
  <div class="field">
    {{#settings-example
      controllerProperties=this
      componentSettingsMetadata=componentSettingsMetadata
      componentTemplateText=componentTemplateText
      componentBlockOverflow="visible"
    }}
      {{flexberry-simpledatetime
        type=type
        removeButton=removeButton
        value=value
        min=min
        max=max
        readonly=readonly
        class="example-simpledatetime"
      }}
    {{/settings-example}}
  </div>
</form>
