<h3 class="ui header">{{t "forms.components-examples.flexberry-simpledatetime.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    {{#settings-example
      controllerProperties=this
      componentSettingsMetadata=componentSettingsMetadata
      componentTemplateText=componentTemplateText
    }}
      {{flexberry-simpledatetime
        type="datetime-local"
        value=model.date
        min=min
        max=max
        readonly=readonly
      }}
    {{/settings-example}}
  </div>
</form>
