<div class="field">
  <label>{{<%= caption %>}}</label>
  {{flexberry-file
    placeholder=(t "components.flexberry-file.placeholder")
    readonly=<%= readonly %>
    value=model.<%= name %>
    class=(if model.errors.<%= name %> "error")
    label=(<%= caption %>)
    data-test-<%= entityName %>-<%= dashedName %>=true
  }}
  {{flexberry-validationmessage error=model.errors.<%= name %> pointing="pointing"}}
</div>