/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'blue-sky';
@reset      : 'blue-sky';

/* Elements */
@button     : 'blue-sky';
@container  : 'blue-sky';
@divider    : 'blue-sky';
@flag       : 'blue-sky';
@header     : 'blue-sky';
@icon       : 'blue-sky';
@image      : 'blue-sky';
@input      : 'blue-sky';
@label      : 'blue-sky';
@list       : 'blue-sky';
@loader     : 'blue-sky';
@rail       : 'blue-sky';
@reveal     : 'blue-sky';
@segment    : 'blue-sky';
@step       : 'blue-sky';

/* Collections */
@breadcrumb : 'blue-sky';
@form       : 'blue-sky';
@grid       : 'blue-sky';
@menu       : 'blue-sky';
@message    : 'blue-sky';
@table      : 'blue-sky';

/* Modules */
@accordion  : 'blue-sky';
@checkbox   : 'blue-sky';
@dimmer     : 'blue-sky';
@dropdown   : 'blue-sky';
@embed      : 'blue-sky';
@modal      : 'blue-sky';
@nag        : 'blue-sky';
@popup      : 'blue-sky';
@progress   : 'blue-sky';
@rating     : 'blue-sky';
@search     : 'blue-sky';
@shape      : 'blue-sky';
@sidebar    : 'blue-sky';
@sticky     : 'blue-sky';
@tab        : 'blue-sky';
@transition : 'blue-sky';

/* Views */
@ad         : 'blue-sky';
@card       : 'blue-sky';
@comment    : 'blue-sky';
@feed       : 'blue-sky';
@item       : 'blue-sky';
@statistic  : 'blue-sky';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : '../../node_modules/ember-flexberry/addon/styles/themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import "app/styles/theme.less";

/* End Config */
