.spinner {
  background: url('/assets/images/nyan.gif') no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.loading-message {
  text-align: center;
  color: #aaa;
}

.form-control-trunc {
  width: auto;
  display: inline-block;
}

table.object-list-view tbody,
table.object-list-view thead {
  cursor: pointer;
}

// Пока что так.
.lookup-field {
  width: 235px !important;
  margin-right: 3px !important;
}
