<h3 class="ui header">{{t "forms.components-examples.flexberry-field.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    {{#settings-example
      controllerProperties=this
      componentSettingsMetadata=componentSettingsMetadata
      componentTemplateText=componentTemplateText
      componentBlockOverflow="visible"
    }}
      {{flexberry-field
        class=class
        value=model.text
        label=label
        placeholder=placeholder
        readonly=readonly
        type=type
        maxlength=maxlength
      }}
    {{/settings-example}}
  </div>
</form>
