<h3 class="ui header">{{t "forms.components-examples.flexberry-groupedit.configurate-row-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    {{flexberry-groupedit
        componentName="aggregatorDetailsGroupedit"
        content=model.details
        modelProjection=modelProjection.attributes.details
        placeholder=placeholder
        readonly=false
        confirmDeleteRows=(action "confirmDeleteRows")
        allowColumnResize=false
        createNewButton=true
        deleteButton=true
        showAsteriskInRow=true
        showCheckBoxInRow=true
        showDeleteButtonInRow=true
        rowClickable=false
        immediateDelete=false
        editOnSeperateRoute=false
        searchForContentChange=searchForContentChange
        orderable=false
        configurateRow=(action "configurateRow")
      }}
  </div>
</form>
