<h3 class="ui header">{{t "forms.components-examples.flexberry-groupedit.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    {{#settings-example
      controllerProperties=this
      componentSettingsMetadata=componentSettingsMetadata
      componentTemplateText=componentTemplateText
    }}
      <div class="field">
        <button type="button" class="ui button remove-class-new" {{action "removeClassButtonAction"}}>{{t "forms.components-examples.flexberry-groupedit.settings-example.remove-class-button-name"}}</button>
      </div>
      {{flexberry-groupedit
        componentName="aggregatorDetailsGroupedit"
        content=model.details
        modelProjection=detailsProjection
        placeholder=placeholder
        readonly=readonly
        tableStriped=tableStriped
        createNewButton=createNewButton
        deleteButton=deleteButton
        defaultSortingButton=defaultSortingButton
        allowColumnResize=allowColumnResize
        showAsteriskInRow=showAsteriskInRow
        showCheckBoxInRow=showCheckBoxInRow
        showDeleteButtonInRow=showDeleteButtonInRow
        showEditMenuItemInRow=showEditMenuItemInRow
        showDeleteMenuItemInRow=showDeleteMenuItemInRow
        useSingleColumn=useSingleColumn
        singleColumnHeaderTitle=singleColumnHeaderTitle
        rowClickable=rowClickable
        immediateDelete=immediateDelete
        orderable=true
        defaultSettingsButton=defaultSettingsButton
        fixedHeader=fixedHeader
      }}
    {{/settings-example}}
  </div>
</form>