# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/blueprints/flexberry-application/index.js.map
/blueprints/flexberry-list-form/index.js.map

# ide and code editor files
/.idea
.tern-port
.dir-locals.el
/blueprints/.vscode

.vscodeignore
jsconfig.json
typings/ember/ember.d.ts
