/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'gos';
@reset      : 'default';

/* Elements */
@button     : 'gos';
@container  : 'gos';
@divider    : 'default';
@flag       : 'default';
@header     : 'gos';
@icon       : 'default';
@image      : 'gos';
@input      : 'gos';
@label      : 'gos';
@list       : 'default';
@loader     : 'default';
@rail       : 'default';
@reveal     : 'default';
@segment    : 'gos';
@step       : 'default';

/* Collections */
@breadcrumb : 'default';
@form       : 'gos';
@grid       : 'default';
@menu       : 'gos';
@message    : 'default';
@table      : 'gos';

/* Modules */
@accordion  : 'gos';
@checkbox   : 'gos';
@dimmer     : 'default';
@dropdown   : 'gos';
@embed      : 'default';
@modal      : 'gos';
@nag        : 'default';
@popup      : 'default';
@progress   : 'default';
@rating     : 'default';
@search     : 'default';
@shape      : 'default';
@sidebar    : 'gos';
@sticky     : 'default';
@tab        : 'default';
@transition : 'default';

/* Views */
@ad         : 'default';
@card       : 'gos';
@comment    : 'default';
@feed       : 'default';
@item       : 'default';
@statistic  : 'default';


/* Сontrols */
@flexberry-button: 'gos';
@flexberry-dropdown: 'gos';
@flexberry-field: 'gos';
@flexberry-file: 'gos';
@flexberry-groupedit: 'gos';
@flexberry-lookup: 'gos';
@flexberry-objectlistview: 'gos';
@flexberry-sidebar: 'gos';
@flexberry-card: 'gos';
@flexberry-checkbox: 'gos';
@flexberry-toggler: 'gos';
@flexberry-menu: 'gos';
@flexberry-simpledatetime: 'gos';
@flexberry-tree: 'gos';
@flexberry-sidepage: 'gos';

/* Forms */
@edit-form: 'gos';
@login-form: 'gos';
@main: 'gos';

@flexberry-form: 'gos';

/*******************************
            Folders
*******************************/

/* Path to semantic ui theme packages */
@semanticUiThemesFolder : 'src/themes';

/* Path to ember flexberry theme packages */
@emberFlexberryThemesFolder : 'src/themes';

/* Path to site override folder */
@siteFolder  : 'site';

/*******************************
         Import Theme
*******************************/

@import "addon/styles/theme.less";

/* End Config */
