/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'orange';
@reset      : 'orange';

/* Elements */
@button     : 'orange';
@container  : 'orange';
@divider    : 'orange';
@flag       : 'orange';
@header     : 'orange';
@icon       : 'orange';
@image      : 'orange';
@input      : 'orange';
@label      : 'orange';
@list       : 'orange';
@loader     : 'orange';
@rail       : 'orange';
@reveal     : 'orange';
@segment    : 'orange';
@step       : 'orange';

/* Collections */
@breadcrumb : 'orange';
@form       : 'orange';
@grid       : 'orange';
@menu       : 'orange';
@message    : 'orange';
@table      : 'orange';

/* Modules */
@accordion  : 'orange';
@checkbox   : 'orange';
@dimmer     : 'orange';
@dropdown   : 'orange';
@embed      : 'orange';
@modal      : 'orange';
@nag        : 'orange';
@popup      : 'orange';
@progress   : 'orange';
@rating     : 'orange';
@search     : 'orange';
@shape      : 'orange';
@sidebar    : 'orange';
@sticky     : 'orange';
@tab        : 'orange';
@transition : 'orange';

/* Views */
@ad         : 'orange';
@card       : 'orange';
@comment    : 'orange';
@feed       : 'orange';
@item       : 'orange';
@statistic  : 'orange';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import "tests/dummy/app/styles/theme.less";

/* End Config */