/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'ghost';
@reset      : 'default';

/* Elements */
@button     : 'ghost';
@container  : 'ghost';
@divider    : 'default';
@flag       : 'default';
@header     : 'ghost';
@icon       : 'ghost';
@image      : 'ghost';
@input      : 'ghost';
@label      : 'ghost';
@list       : 'default';
@loader     : 'default';
@rail       : 'default';
@reveal     : 'default';
@segment    : 'ghost';
@step       : 'default';

/* Collections */
@breadcrumb : 'default';
@form       : 'ghost';
@grid       : 'default';
@menu       : 'ghost';
@message    : 'default';
@table      : 'ghost';

/* Modules */
@accordion  : 'ghost';
@checkbox   : 'ghost';
@dimmer     : 'ghost';
@dropdown   : 'ghost';
@embed      : 'default';
@modal      : 'ghost';
@nag        : 'default';
@popup      : 'default';
@progress   : 'default';
@rating     : 'default';
@search     : 'default';
@shape      : 'default';
@sidebar    : 'ghost';
@sticky     : 'default';
@tab        : 'default';
@transition : 'default';

/* Views */
@ad         : 'default';
@card       : 'ghost';
@comment    : 'default';
@feed       : 'default';
@item       : 'default';
@statistic  : 'default';


/* Сontrols */
@flexberry-button: 'ghost';
@flexberry-dropdown: 'ghost';
@flexberry-field: 'ghost';
@flexberry-file: 'ghost';
@flexberry-groupedit: 'ghost';
@flexberry-lookup: 'ghost';
@flexberry-objectlistview: 'ghost';
@flexberry-sidebar: 'ghost';
@flexberry-card: 'ghost';
@flexberry-checkbox: 'ghost';
@flexberry-toggler: 'ghost';
@flexberry-menu: 'ghost';
@flexberry-simpledatetime: 'ghost';
@flexberry-tree: 'ghost';
@flexberry-modal: 'ghost';
@flexberry-dimmer: 'ghost';
@flexberry-validationsummary: 'ghost';
@flexberry-colsconfig: 'ghost';
@flexberry-input: 'ghost';
@flexberry-validationmessage: 'ghost';

/* Forms */
@edit-form: 'ghost';
@login-form: 'ghost';
@main: 'ghost';


/*******************************
            Folders
*******************************/

/* Path to semantic ui theme packages */
@semanticUiThemesFolder : 'src/themes';

/* Path to ember flexberry theme packages */
@emberFlexberryThemesFolder : 'src/themes';

/* Path to site override folder */
@siteFolder  : 'site';

/*******************************
         Import Theme
*******************************/

@import "src/flexberry-associations.config";
@import "addon/styles/theme.less";

/* End Config */
