/**
 * Overrides and bug fixes in Semantic UI menu-related styles.
 */

/** 
 * Menu items icons are right-floated by default.
 */
.flexberry-menu:not(.icon) > .item > i.icon {
  float: right !important;
  margin: 0em 0em 0em 0.5em !important;
}

/**
 * Menu items icons are left-floated if they are first child elements.
 */
.flexberry-menu:not(.icon) > .item > i.icon:first-child {
  float: left !important;
  margin: 0em 0.5em 0em 0em !important;
}

/**
 * Submenu items icons are right-floated by default.
 */
.flexberry-menu .ui.dropdown > .menu > .item > i.icon {
  margin: 0em 0em 0em 0.5em !important;
}

/**
 * Submenu items icons are left-floated  if they are first child elements.
 */
.flexberry-menu .ui.dropdown > .menu > .item > i.icon:first-child {
  margin: 0em 0.5em 0em 0em !important;
}

/**
 * Submenu elements are sticked to their parent elements.
 */
.flexberry-menu .ui.dropdown > .menu {
  margin: 0em !important;
}

/**
 * Submenu elements should appear on the left side if they are left floated.
 */
.flexberry-menu .ui.dropdown > .left.menu,
.flexberry-menu .ui.simple.dropdown > .left.menu,
.flexberry-menu .ui.simple.dropdown > .menu > .item:active > .left.menu,
.flexberry-menu .ui.simple.dropdown:hover > .menu > .item:hover > .left.menu {
    left: auto !important;
    right: 100% !important;
}

/**
 * Submenu elements should appear on the right side if they are right floated.
 */
.flexberry-menu .ui.dropdown > .right.menu,
.flexberry-menu .ui.simple.dropdown > .right.menu,
.flexberry-menu .ui.simple.dropdown > .menu > .item:active > .right.menu,
.flexberry-menu .ui.simple.dropdown:hover > .menu > .item:hover > .right.menu {
    left: 100% !important;
    right: auto !important;
}

/**
 * First level submenu in horizontal menus should be sticked to the top of it's parent (not to the left or right).
 */
.flexberry-menu:not(.vertical) > .ui.dropdown > .menu,
.flexberry-menu:not(.vertical) > .ui.simple.dropdown > .menu {
  left: 0px !important;
  right: auto !important;
}
