/**
 * Styles for groupedit-toolbar component.
 */

.groupedit-toolbar {
  margin-bottom: 1px !important;
}

.groupedit-toolbar button {
  padding: 9px !important;
}

.groupedit-toolbar button i {
  margin: 0 !important;
}
