.spinner {
  background: url('/assets/images/nyan.gif') no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.loading-message {
  text-align: center;
  color: #aaa;
} 
