@import "src/semantic";
@import "node_modules/ember-flexberry/addon/styles/addon";

.spinner {
  background: url('/assets/images/nyan.gif') no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.loading-message {
  text-align: center;
  color: #aaa;
}

#example {
  .flexberry-content {
    padding: 3em 0;
  }
}

#example-mobile {
  .flexberry-content {
    padding: 6em 10px 2em;
    border-bottom: none;
  }
}
