<h3>Пример логирования</h3>
<div class="right item">
      <span>Уровень логирования сообщений</span>
      {{flexberry-dropdown
        class="ui dropdown"
        items=settings
        onChange=(action 'setLogLevel')
        showPlaceholder=false
        text=text
        readonly=readonly
      }}
  </div>
<p></p>
<div class="row">
  {{flexberry-objectlistview
    modelName="logging-example/application-log"
    modelProjection=modelProjection
    content=model
    createNewButton=false
    refreshButton=true
    sorting=computedSorting
    orderable=true
    sortByColumn=(action "sortByColumn")
    addColumnToSorting=(action "addColumnToSorting")
    action="rowClick"
    pages=pages
    perPageValue=perPageValue
    perPageValues=perPageValues
    hasPreviousPage=hasPreviousPage
    hasNextPage=hasNextPage
    previousPage=(action "previousPage")
    gotoPage=(action "gotoPage")
    nextPage=(action "nextPage")
    customButtons = (action "getCustomButtons")
    assertAction = 'assertAction'
    debugAction = 'debugAction'
    errorAction = 'errorAction'
    infoAction = 'infoAction'
    logAction = 'logAction'
    warnAction = 'warnAction'
    deprecationAction = 'deprecationAction'
    throwAction = 'throwAction'
  }}
</div>
