// Main
@defaultColor   : fade(#000, 20%);
@primaryColor          : #7309AA;
@accentColor           : #FF1E00;
@dimmerBackgroundColor: rgba(0, 0, 0, 0.3);

// Sidebar
@sidebarBackgroundColor         : #353535;

// Page
@textColor      : rgba(255, 255, 255, 0.65);
@selectedTextColor: rgba(255, 255, 255, 0.75);
@pageBackground : #3e3e3e;

@inputHoverBorderColor: @defaultColor;
@defaultInputFocusBackground    : @defaultColor;

// OLV
@olvRowActiveBackground: fade(#ECF2FB, 20%);
@olvContainerBorderColorDefault: rgba(0, 0, 0, 0.14);