.form-control-trunc {
  width: auto;
  display: inline-block;
}

table.object-list-view tbody,
table.object-list-view thead {
  cursor: pointer;
}

.lookup-field {
  width: 235px !important;
  margin-right: 3px !important;
}
