/**
 * All ember-flexberry addon styles.
 */

@import './components/object-list-view';
@import './components/object-list-view-single-column-cell';
@import './components/groupedit-toolbar';
@import './components/modal-dialog';
@import './components/flexberry-lookup';
@import './components/flexberry-menu';
@import './components/flexberry-file';

/**
 * Common styles.
 */
.hidden {
  display: none !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

/**
 * Flexberry-colsconfig.
 */

.flexberry-colsconfig {
  .show-columns {
    width: 50px;
  }
  .columns-order {
    width: 90px;
  }
  .sort-direction {
    width: 80px;
  }
  .sort-priority {
    width: 95px;
  }
  .ui.table thead th {
    text-align: center;
  }
}

// Style for responsive
@media only screen and (max-width: 767px) {
  .ui.menu.container {
      margin-right: 0 !important;
      margin-left: 0 !important;
  }
}

