<div class="ember-table-content-container" title="Click to change ordering for this column">
      <span class="ember-table-content">
        {{view.content.headerCellName}}
          {{#if view.content.sorted}}
              <div style="float:right;">
                  {{#if view.content.sortAscending}}
                      <div title="Order ascending">
                          &#8593;{{view.content.sortNumber}}
                      </div>
                  {{else}}
                      <div title="Order descending">
                          &#8595;{{view.content.sortNumber}}
                      </div>
                  {{/if}}
              </div>
          {{/if}}
      </span>
</div>
