<div class="field">
  {{flexberry-field
    placeholder=(t "components.flexberry-field.placeholder")
    readonly=<%= readonly %>
    required=true
    value=model.<%= name %>
    class=(if validationErrors.<%= name %> "error")
    label=(<%= caption %>)
  }}
  {{flexberry-validationmessage error=validationErrors.<%= name %> pointing="pointing"}}
</div>
