  <div class="field">
    <label>{{<%= caption %>}}</label>
    {{flexberry-checkbox
      readonly=<%= readonly %>
      value=model.<%= name %>
      data-test-<%= entityName %>-<%= dashedName %>=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "<%= name %>" "messages")}}
  </div>
