<div class="field">
  <label><%=caption%></label>
  {{#if model.errors.<%=name%>}}
  <span style="color:red">{{model.errors.<%=name%>}}</span>
  {{/if}}
  {{flexberry-dropdown items=approvalValues action="setApproval" selectedItem=model.<%=name%> readonly=readonly}}
</div>
