<div class="field">
  <label>{{<%= caption %>}}</label>
  {{
    flexberry-lookup
    choose=(action 'showLookupDialog')
    remove=(action 'removeLookupValue')
    value=model.<%= name %>
    <%if(lookupValueField){%>displayAttributeName='<%= lookupValueField %>'<%}else{%><%}%>
    relationName='<%= name %>'
    projection='<%= projection %>'
    title=(<%= caption %>)
    readonly=<%= readonly %>
  }}
  {{flexberry-validationmessage error=model.errors.<%= name %> pointing="pointing"}}
</div>
