  <div class="field">
    <label>{{<%= caption %>}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.<%= name %><%
if (lookupValueField) { %>
      class=(if (v-get validationObject "<%= name %>" "isInvalid") "error")
      displayAttributeName="<%= lookupValueField %>"
      autocomplete=true<%
} %>
      relationName="<%= name %>"
      projection="<%= projection %>"
      title=(<%= caption %>)
      readonly=<%= readonly %>
      componentName="<%= name %>Lookup"
      class=(if (v-get validationObject "<%= name %>" "isInvalid") "error")
    }}
    {{flexberry-validationmessage error=(v-get validationObject "<%= name %>" "message")}}
  </div>
