<div class="ui grid {{if (v-get validationObject "<%= name %>" "isInvalid") "error"}}">
  <div class="ui two wide column right aligned middle aligned content">
    <label>{{<%= caption %>}}</label>
  </div>
  <div class="ten wide column">
    {{
      flexberry-textbox
      placeholder=(t 'components.flexberry-textbox.placeholder')
      readonly=<%= readonly %>
      required=true
      value=model.<%= name %>
    }}
  </div>
  {{flexberry-validationmessage error=(v-get validationObject "<%= name %>" "messages")}}
</div>
