  <div class="field">
    <label>{{<%= caption %>}}</label>
    {{flexberry-file
      readonly=<%= readonly %>
      value=model.<%= name %>
      class=(if (v-get validationObject<%= propertyMaster %> "<%= propertyName %>" "isInvalid") "error")
      label=(<%= caption %>)
    }}
    {{flexberry-validationmessage error=(v-get validationObject<%= propertyMaster %> "<%= propertyName %>" "message")}}
  </div>