<div class="field">
  <label>{{<%= caption %>}}</label>
  {{#if model.errors.<%= name %>}}
  <span style="color:red">{{model.errors.<%= name %>}}</span>
  {{/if}}
  {{flexberry-dropdown items=(flexberry-enum '<%= type %>') value=model.<%= name %> readonly=<%= readonly %>}}
  {{flexberry-validationmessage error=model.errors.<%= name %> pointing="pointing"}}
</div>
