<div class="field">
  <label>{{<%= caption %>}}</label>
  {{flexberry-datepicker
    placeholder="(no value)"
    readonly=<%= readonly %>
    value=model.<%= name %>
    class=(if validationErrors.<%= name %> "error")
  }}
  {{flexberry-validationmessage error=validationErrors.<%= name %> pointing="pointing"}}
</div>
