<div class="field">
  <label>{{<%= caption %>}}</label>
  {{flexberry-groupedit
    componentName="<%= name %>GroupEdit"
    modelProjection=modelProjection.attributes.<%= name %>
    content=model.<%= name %>
    readonly=<%= readonly %>
    orderable=false
    class=(if validationErrors.<%= name %> "error")
  }}
  {{flexberry-validationmessage error=validationErrors.<%= name %> pointing="pointing"}}
</div>
