<div class="field">
  <label>{{<%= caption %>}}</label>
  {{flexberry-checkbox
    readonly=<%= readonly %>
    value=model.<%= name %>
  }}
  {{flexberry-validationmessage error=validationErrors.<%= name %> pointing="pointing"}}
</div>
