<div class="field">
  <label><%= caption %></label>
  {{#if model.errors.<%= name %>}}
  <span style="color:red">{{model.errors.<%= name %>}}</span>
  {{/if}}
  {{flexberry-dropdown items=(enum-captions '<%= type %>') value=model.<%= name %> readonly=<%= readonly %>}}
</div>
