  <div class="ui grid {{if (v-get validationObject "<%= name %>" "isInvalid") "error"}}">
    <div class="ui two wide column right aligned content">
      <label>{{<%= caption %>}}</label>
    </div>
    <div class="ten wide column">
      {{flexberry-textbox
        readonly=<%= readonly %>
        value=model.<%= name %>
        data-test-<%= entityName %>-<%= dashedName %>=true
      }}
      {{flexberry-validationmessage error=(v-get validationObject "<%= name %>" "messages") pointing="left pointing"}}
    </div>
  </div>