  <div class="field">
    <label>{{<%= caption %>}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "<%= type %>")
      value=model.<%= name %>
      class=(if (v-get validationObject "<%= name %>" "isInvalid") "error")
      readonly=<%= readonly %>
    }}
    {{flexberry-validationmessage error=(v-get validationObject "<%= name %>" "message")}}
  </div>