  <div class="field">
    <label>{{<%= caption %>}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=<%= readonly %>
      value=model.<%= name %>
      class=(if (v-get validationObject "<%= name %>" "isInvalid") "error")
      data-test-<%= entityName %>-<%= dashedName %>=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "<%= name %>" "messages")}}
  </div>
