<div class="field">
  <label>{{<%= caption %>}}</label>
  {{flexberry-file
    placeholder=(t "components.flexberry-file.placeholder")
    readonly=<%= readonly %>
    value=model.<%= name %>
    class=(if validationErrors.<%= name %> "error")
    label=(<%= caption %>)
  }}
  {{flexberry-validationmessage error=validationErrors.<%= name %> pointing="pointing"}}
</div>
