<div class="ui grid {{if model.errors.<%= name %> 'error' ''}}">
  <div class="ui two wide column right aligned middle aligned content">
    <label>{{<%= caption %>}}</label>
  </div>
  <div class="ten wide column">
    {{
      flexberry-textbox
      placeholder=(t 'components.flexberry-textbox.placeholder')
      readonly=<%= readonly %>
      required=true
      value=model.<%= name %>
      data-test-<%= entityName %>-<%= dashedName %>=true
    }}
  </div>
  {{flexberry-validationmessage error=model.errors.<%= name %> pointing="pointing"}}
</div>
