  <div class="field">
    <label>{{<%= caption %>}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      readonly=<%= readonly %>
      value=model.<%= name %>
      class=(if (v-get validationObject "<%= name %>" "isInvalid") "error")
    }}
    {{flexberry-validationmessage error=(v-get validationObject "<%= name %>" "messages")}}
  </div>
