<div class="field">
  <label><%= caption %></label>
  {{#if model.errors.<%= name %>}}
    <span style="color:red">{{model.errors.<%= name %>}}</span>
  {{/if}}
  {{flexberry-groupedit
    componentName="<%= name %>GroupEdit"
    modelProjection=modelProjection.attributes.<%= name %>
    content=model.<%= name %>
    readonly=<%= readonly %>
    orderable=false
    class=(if model.errors.<%= name %> 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.<%= name %> pointing="pointing"}}
</div>
