<div class="field">
  <label>{{<%= caption %>}}</label>
  {{
    flexberry-simpledatetime
    type="date"
    readonly=<%= readonly %>
    value=model.<%= name %>
    class=(if model.errors.<%= name %> 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.<%= name %> pointing="pointing"}}
</div>
