<div class="field" data-test-<%= entityName %>-<%= dashedName %>="true">
  <label>{{<%= caption %>}}</label>
  {{
    flexberry-dropdown
    items=(flexberry-enum '<%= type %>')
    value=model.<%= name %>
    readonly=<%= readonly %>
  }}
  {{flexberry-validationmessage error=model.errors.<%= name %> pointing="pointing"}}
</div>
