<h3 class="ui header">{{t "forms.components-examples.flexberry-ddau-checkbox.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    {{#settings-example
      controllerProperties=this
      componentSettingsMetadata=componentSettingsMetadata
      componentTemplateText=componentTemplateText
      componentBlockOverflow="visible"
    }}
      {{flexberry-ddau-checkbox
        class=class
        value=model.flag
        caption=caption
        readonly=readonly
        change=(action "onCheckboxChange" "model.flag")
      }}
    {{/settings-example}}
  </div>
</form>
