<h3 class="ui header">{{t "forms.components-examples.flexberry-checkbox.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <a href="https://flexberry.github.io/ru/ef2_edit-form-components.html#flexberry-checkbox">
    {{t "forms.components-examples.docs-link"}}
  </a>
  <div class="field">
    {{#settings-example
      controllerProperties=this
      componentSettingsMetadata=componentSettingsMetadata
      componentTemplateText=componentTemplateText
      componentBlockOverflow="visible"
    }}
      {{flexberry-checkbox
        value=model.flag
        label=label
        readonly=readonly
        class=class
      }}
    {{/settings-example}}
  </div>
</form>
