@import 'src/flexberry-imports';

// Поправить генератор и перенести в тему
.ui.main.container > .stackable.grid.container > .row,
.ui.form.flexberry-vertical-form {
  padding-top: 1em;
}

.ui.form .field.flexberry-validationsummary-container {
  margin: 0;
}

.flexberry-validationsummary.ui.red.message {
  margin-bottom: 1rem;
}

// Перенести
.ui.table.object-list-view thead tr th.object-list-view-operations .check-rows-button i.icon.icon-guideline-check-menu {
  font-size: 1.3em;
  color: #848E99;
  width: auto;
  &:hover {
    color: #3B4256;
  }
}
// Убрать в теме!
.ui.table.object-list-view thead tr th.object-list-view-operations {
  padding-left: 0.9em;
}
.check-rows-button .check-square-o {
  display: none;
}

