.spinner {
  background: url('/assets/images/cat.gif') no-repeat;
  background-size: contain;
  height: 140px;
  width: 175px;
  margin: 0 auto;
}

.loading-message {
  text-align: center;
  color: #aaa;
}

// Examples application template
#example-with-submenu {
  padding-top: 40px;

  .flexberry-submenu .item {
    padding-right: 0;
    > .menu {
      margin-right: -2px;
    }
  }

  .flexberry-content {
    position: relative;
    padding: 0;

    &.segment {
      box-shadow: none;
      border: none;
    }
  }
}

/**
 * Flexberry form.
 */
.ui.form.flexberry-horizontal-form {
  .flexberry-field.field label {
    width: 150px !important;
  }

  .field label {
    width: 122px !important;
    margin-right: 0.85714286em !important;
  }

  label {
    text-align: right;
  }
}

.ui.form .field > .field {
  margin-bottom: 0;
}

#example {
  .flexberry-content {
    padding: 3em 0;
  }
}

#example-mobile {
  .flexberry-content {
    padding: 4em 10px 2em 10px;
    border-bottom: none;
  }
}
