<h3 class="ui header">{{t "forms.components-examples.ui-message.settings-example.caption"}}</h3>
<div class="content ui form success error warning flexberry-container">
  <a href="https://flexberry.github.io/ru/ef2_ui-message.html">
    {{t "forms.components-examples.docs-link"}}
  </a>
  {{#ui-message
    caption=(t "forms.components-examples.ui-message.settings-example.captionMessage")
    type='success'
    message=(t "forms.components-examples.ui-message.settings-example.messageSuccess")
    closeable=true
  }}
  {{/ui-message}}
  {{#ui-message
    caption=(t "forms.components-examples.ui-message.settings-example.captionMessage")
    type='positive'
    message=(t "forms.components-examples.ui-message.settings-example.messageSuccess")
    icon='paw icon'
  }}
  {{/ui-message}}
  {{#ui-message
    caption=(t "forms.components-examples.ui-message.settings-example.captionMessage")
    type='error'
    message=(t "forms.components-examples.ui-message.settings-example.messageError")
    closeable=true
  }}
  {{/ui-message}}
  {{#ui-message
    caption=(t "forms.components-examples.ui-message.settings-example.captionMessage")
    type='negative'
    message=(t "forms.components-examples.ui-message.settings-example.messageError")
    attached=true
  }}
  {{/ui-message}}
  {{#ui-message
    caption=(t "forms.components-examples.ui-message.settings-example.captionMessage")
    type='warning'
    message=(t "forms.components-examples.ui-message.settings-example.messageWarning")
    closeable=true
    attached=true
  }}
  {{/ui-message}}
  {{#ui-message
    caption=(t "forms.components-examples.ui-message.settings-example.captionMessage")
    type='info'
    size='small'
    icon='alarm icon'
    message=(t "forms.components-examples.ui-message.settings-example.messageInfo")
    closeable=true
  }}
  {{/ui-message}}
  {{#ui-message
    caption=(t "forms.components-examples.ui-message.settings-example.captionMessage")
    type='info'
    color='violet'
    message=(t "forms.components-examples.ui-message.settings-example.messageError")
    compact=true
  }}
  {{/ui-message}}
  {{#ui-message
    caption=(t "forms.components-examples.ui-message.settings-example.captionMessage")
    message=(t "forms.components-examples.ui-message.settings-example.messageInfo")
    color='orange'
  }}
  {{/ui-message}}
  {{#ui-message
    caption=(t "forms.components-examples.ui-message.settings-example.captionMessage")
    message=(t "forms.components-examples.ui-message.settings-example.messageWarning")
    floating=true
  }}
  {{/ui-message}}
</div>