<h3 class="ui header">{{t "forms.components-examples.ui-message.settings-example.caption"}}</h3>
    <div class="field">
      {{#ui-message
        caption='Результат проверки'
        type='success'
        message='Операция выполнена успешно'
        closeable=true
      }}
      {{/ui-message}}
      {{#ui-message
        caption='Результат проверки'
        type='positive'
        message='Операция выполнена успешно'
      }}
      {{/ui-message}}
      {{#ui-message
        caption='Результат проверки'
        type='error'
        message='Операция не выполнена'
        closeable=true
      }}
      {{/ui-message}}
      {{#ui-message
        caption='Результат проверки'
        type='negative'
        message='Операция не выполнена'
      }}
      {{/ui-message}}
      {{#ui-message
        caption='Результат проверки'
        type='warning'
        message='Частично выполнено'
        closeable=true
        title='Ой!'
      }}
      {{/ui-message}}
      {{#ui-message
        caption='Результат проверки'
        type='info'
        attached=true
        size='small'
        icon='alarm icon'
        message='Обратите внимание!'
        closeable=true
      }}
      {{/ui-message}}
      {{#ui-message
        caption='Результат проверки'
        type='error'
        color='violet'
        icon='paw icon'
        compact=true
        message='Операция не выполнена'
      }}
      {{/ui-message}}
  </div>
