<h3 class="ui header">{{t "forms.components-examples.flexberry-textarea.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{#settings-example
    controllerProperties=this
    componentSettingsMetadata=componentSettingsMetadata
    componentTemplateText=componentTemplateText
    componentBlockOverflow="visible"
  }}
    {{flexberry-textarea
      value=model.text
      placeholder=placeholder
      readonly=readonly
	    class=class
      required=required
      rows=rows
      cols=cols
      disabled=disabled
      maxlength=maxlength
      selectionStart=selectionStart
      selectionEnd=selectionEnd
      selectionDirection=selectionDirection
      wrap=wrap
      autofocus=autofocus
      spellcheck=spellcheck
    }}
  {{/settings-example}}
</form>
