<h3 class="ui header">{{t "forms.components-examples.flexberry-tab-bar.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
    <div class="field">
        {{#settings-example
            controllerProperties=this
            componentSettingsMetadata=componentSettingsMetadata
            componentTemplateText=componentTemplateText
            componentBlockOverflow="visible"
        }}
        {{flexberry-tab-bar items=tenTabBarItems}}
        <div class="ui bottom attached tab active segment" data-tab="tab1">
            <h4>Вкладка №1</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet in ullam similique. Tempora nihil quam unde
                adipisci necessitatibus mollitia esse.</p>
        </div>
        <div class="ui bottom attached tab segment" data-tab="tab2">
            <h4>Вкладка №2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum voluptatem delectus omnis quo adipisci
                ipsam earum, illum deleniti repudiandae vel totam impedit tempore dicta harum, corporis beatae doloribus
                ab aliquam!</p>
        </div>
        <div class="ui bottom attached tab segment" data-tab="tab3">
            <h4>Вкладка №3</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam cum fugiat placeat nostrum optio,
                blanditiis id. Quia nulla, velit hic tempore, tempora earum deserunt non debitis fuga adipisci
                repudiandae provident, natus laborum vitae a nesciunt cumque quod mollitia labore rerum cum beatae?
                Numquam cumque fugit dolorem sequi commodi veniam quae delectus quia tenetur eos. Repellat saepe nulla
                accusantium illo id.</p>
        </div>
        <div class="ui bottom attached tab segment" data-tab="tab4">
            <h4>Вкладка №4</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, dolorem!</p>
        </div>
        <div class="ui bottom attached tab segment" data-tab="tab5">
            <h4>Вкладка №5</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde maxime voluptates dicta architecto autem
                eos. Quae
                itaque dolore veritatis adipisci. Velit tenetur optio quia modi voluptate delectus facilis. Mollitia
                repudiandae
                quia, suscipit fuga placeat sunt dolore corrupti perferendis ab eaque nesciunt minima obcaecati
                laboriosam soluta
                excepturi ratione officiis quam, optio nam. Eum, inventore. Illo, distinctio? Molestias officiis
                sapiente quasi
                autem quo enim dolorem voluptate, tempora repudiandae dolores. Beatae expedita modi reiciendis
                veritatis, repellat
                non necessitatibus maiores ipsam corporis sint facilis vero quaerat adipisci impedit dolor, distinctio
                culpa illum
                laboriosam? Ea provident laborum ducimus, earum reiciendis commodi nesciunt dignissimos aliquid quas!
            </p>
        </div>
        <div class="ui bottom attached tab segment" data-tab="tab6">
            <h4>Вкладка №6</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, quos nemo. Quisquam doloremque
                necessitatibus soluta, modi adipisci dolores vero? Accusantium quibusdam non, repellat aliquid cum odit
                velit expedita quo iure voluptatum at, harum eos quaerat beatae amet dolor quisquam deleniti inventore
                molestiae itaque quod. Nesciunt distinctio dicta velit totam blanditiis!</p>
        </div>
        <div class="ui bottom attached tab segment" data-tab="tab7">
            <h4>Вкладка №7</h4>
            <p>ВLorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, quos nemo. Quisquam doloremque
                necessitatibus soluta, modi adipisci dolores vero? Accusantium quibusdam non, repellat aliquid cum odit
                velit expedita quo iure voluptatum at, harum eos quaerat beatae amet dolor quisquam deleniti inventore
                molestiae itaque quod. Nesciunt distinctio dicta velit totam blanditiis!</p>
        </div>
        <div class="ui bottom attached tab segment" data-tab="tab8">
            <h4>Вкладка №8</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, quos nemo. Quisquam doloremque
                necessitatibus soluta, modi adipisci dolores vero? Accusantium quibusdam non, repellat aliquid cum odit
                velit expedita quo iure voluptatum at, harum eos quaerat beatae amet dolor quisquam deleniti inventore
                molestiae itaque quod. Nesciunt distinctio dicta velit totam blanditiis!</p>
        </div>
        <div class="ui bottom attached tab segment" data-tab="tab9">
            <h4>Вкладка №9</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, quos nemo. Quisquam doloremque
                necessitatibus soluta, modi adipisci dolores vero? Accusantium quibusdam non, repellat aliquid cum odit
                velit expedita quo iure voluptatum at, harum eos quaerat beatae amet dolor quisquam deleniti inventore
                molestiae itaque quod. Nesciunt distinctio dicta velit totam blanditiis!</p>
        </div>
        <div class="ui bottom attached tab segment" data-tab="tab10">
            <h4>Вкладка №10</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, quos nemo. Quisquam doloremque
                necessitatibus soluta, modi adipisci dolores vero? Accusantium quibusdam non, repellat aliquid cum odit
                velit expedita quo iure voluptatum at, harum eos quaerat beatae amet dolor quisquam deleniti inventore
                molestiae itaque quod. Nesciunt distinctio dicta velit totam blanditiis!</p>
        </div>
        {{/settings-example}}
    </div>
</form>