  <div class="field">
    {{flexberry-field
      readonly=<%= readonly %>
      value=model.<%= name %>
      class=(if (v-get validationModel<%= propertyMaster %> "<%= propertyName %>" "isInvalid") "error")
      label=(<%= caption %>)
      data-test-<%= entityName %>-<%= dashedName %>=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel<%= propertyMaster %> "<%= propertyName %>" "message")}}
  </div>