  <div class="field">
    <label>{{<%= caption %>}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.<%= name %><%
if (lookupValueField) { %>
      displayAttributeName="<%= lookupValueField %>"<%
  if (isDropdown) { %>
      dropdown=true<%
  }else{%>
      autocomplete=true<%
}%><%}%>
      relationName="<%= name %>"
      projection="<%= projection %>"
      title=(<%= caption %>)
      readonly=<%= readonly %>
      componentName="<%= name %>Lookup"
      class=(if (v-get validationModel<%= propertyMaster %> "<%= propertyName %>" "isInvalid") "error")
      data-test-<%= entityName %>-<%= dashedName %>=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel<%= propertyMaster %> "<%= propertyName %>" "message")}}
  </div>
