<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.autofill-by-limit-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    {{#settings-example
      controllerProperties=this
      componentSettingsMetadata=componentSettingsMetadata
    }}
      {{flexberry-lookup
        value=model.type
        projection="LookupWithLimitFunctionExampleView"
        displayAttributeName="name"
        title=(t "forms.components-examples.flexberry-lookup.autofill-by-limit-example.titleLookup")
        relationName="type"
        choose="showLookupDialog"
        remove="removeLookupValue"
        readonly=readonly
        lookupLimitPredicate=lookupCustomLimitPredicate
        autofillByLimit=autofillByLimit
      }}
    {{/settings-example}}
  </div>
</form>
