<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.customizing-window-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    {{autocpmplete-preset-value-example-test-component
      value=value
      choose=(action "showLookupDialog")
    }}
    {{flexberry-button
      caption="Заполнить lookupDisplayValue"
      click=(action "onFillLookupDisplayValueClick")
    }}
    {{flexberry-button
      caption="Заполнить данные"
      click=(action "onFillLookupDataClick")
    }}
  </div>
</form>
