<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.autocomplete-order-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <a href="https://flexberry.github.io/ru/ef3_flexberry-lookup.html#наложение-сортировки-на-скрытые-поля-мастера">
    {{t "forms.components-examples.docs-link"}}
  </a>
  <div class="field">
    {{flexberry-lookup
        readonly=readonly
        value=model.type
        projection="SettingLookupExampleView"
        displayAttributeName="name"
        autocompleteOrder="moderated asc, parent desc"
        title=title
        relatedModel=model
        relationName="type"
        choose=(action "showLookupDialog")
        remove=(action "removeLookupValue")
        updateLookupValue=(action "updateLookupValue")
        autocomplete=true
        placeholder=placeholder
    }}
  </div>
</form>