<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.dropdown-mode-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
  <label>dropdownIsSearch=true, direction="downward"</label>
    {{flexberry-lookup
      value=model.type
      projection="DropDownLookupExampleView"
      displayAttributeName="name"
      title="Master"
      relationName="type"
      choose="showLookupDialog"
      remove="removeLookupValue"
      updateLookupValue=(action "updateLookupValue")
      readonly=readonly
      lookupLimitPredicate=lookupCustomLimitPredicate
      dropdown=true
      dropdownIsSearch=true
      sorting="desc"
      direction="downward"
    }}
  </div>
  <div class="field">
  <label>dropdownIsSearch=false, direction="upward"</label>
    {{flexberry-lookup
      value=model.type
      projection="DropDownLookupExampleView"
      displayAttributeName="name"
      title="Master"
      relationName="type"
      choose="showLookupDialog"
      remove="removeLookupValue"
      updateLookupValue=(action "updateLookupValue")
      readonly=readonly
      lookupLimitPredicate=lookupCustomLimitPredicate
      dropdown=true
      sorting="desc"
      direction="upward"
    }}
  </div>
</form>