<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.dropdown-mode-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
  <label>dropdownIsSearch=true, minCharacters=0, dropdownSettings=(hash direction="downward")</label>
    {{flexberry-lookup
      value=model.type
      projection="DropDownLookupExampleView"
      displayAttributeName="name"
      title="Master"
      relationName="type"
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
      updateLookupValue=(action "updateLookupValue")
      readonly=readonly
      lookupLimitPredicate=lookupCustomLimitPredicate
      dropdown=true
      dropdownIsSearch=true
      sorting="desc"
      minCharacters=0
    }}
  </div>
  <div class="field">
  <label>dropdownIsSearch=false, dropdownSettings=(hash direction="upward")</label>
    {{flexberry-lookup
      value=model.type
      projection="DropDownLookupExampleView"
      displayAttributeName="name"
      title="Master"
      relationName="type"
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
      updateLookupValue=(action "updateLookupValue")
      readonly=readonly
      lookupLimitPredicate=lookupCustomLimitPredicate
      dropdown=true
      sorting="desc"
      dropdownSettings=(hash direction="upward")
    }}
  </div>
</form>