<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.lookup-block-form-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
<div class="ui info message">
  <i class="close icon"></i>
  <div class="header">
    Данный тест работает только в мобильной версии сайта.
    Чтобы запустить мобильную версию нужно:
  </div>
  <ul class="list">
    <li>Перейти в режим разработчика (нажать “F12”).</li>
    <li>Включить мобильную версию сайта (нажать “Ctrl+Shift+M” в Chrome и Firefox)</li>
    <li>Обновить страницу (нажать “F5”)</li>
  </ul>
</div>
</form>
