<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.lookup-in-modal-autocomplete.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  <button class="ui button" type="button" {{action "showModal"}}>{{t "forms.components-examples.flexberry-lookup.lookup-in-modal-autocomplete.captionModalDouble"}}</button>
</form>