<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    {{flexberry-lookup
      value=model.master
      projection="MasterL"
      displayAttributeName="text"
      title="Master"
      relatedModel=model
      relationName="master"
      choose="showLookupDialog"
      remove="removeLookupValue"
      readonly=readonly
      limitFunction=null
    }}
  </div>
</form>
