<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    {{#settings-example
      controllerProperties=this
      componentSettingsMetadata=componentSettingsMetadata
      componentTemplateText=componentTemplateText
      componentBlockOverflow="visible"
    }}
      {{flexberry-lookup
        placeholder=placeholder
        readonly=readonly
        value=model.type
        projection="SettingLookupExampleView"
        displayAttributeName="name"
        title=title
        relatedModel=model
        relationName="type"
        choose="showLookupDialog"
        remove="removeLookupValue"
        autocomplete=autocomplete
        autocompletePersistValue=autocompletePersistValue
        displayValue=model.lookupDisplayValue
        dropdown=dropdown
        chooseText=chooseText
        removeText=removeText
        dropdownClass=dropdownClass
        chooseButtonClass=chooseButtonClass
        removeButtonClass=removeButtonClass
        multiselect=true
      }}
    {{/settings-example}}
  </div>
</form>
