<h3 class="ui header">{{t "forms.components-examples.flexberry-dropdown.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <a href="https://flexberry.github.io/ru/ef2_edit-form-components.html#flexberry-dropdown">
    {{t "forms.components-examples.docs-link"}}
  </a>
  <div class="field">
    {{#settings-example
      controllerProperties=this
      componentSettingsMetadata=componentSettingsMetadata
      componentTemplateText=componentTemplateText
      componentBlockOverflow="visible"
    }}
      {{flexberry-dropdown
        items=(flexberry-enum "components-examples/flexberry-dropdown/settings-example/enumeration")
        value=model.enumeration
        placeholder=placeholder
        readonly=readonly
        class=class
      }}
    {{/settings-example}}
  </div>
</form>
