<h3 class="ui header">{{title}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    {{flexberry-dropdown
      items=(enum-captions "components-examples/flexberry-dropdown/settings-example/enumeration")
      value=model.enumeration
    }}
  </div>
</form>
