<div class="field">
  <label><%=caption%></label>
  {{#if model.errors.<%=name%>}}
    <span style="color:red">{{model.errors.<%=name%>}}</span>
  {{/if}}
  {{
    flexberry-groupedit
    componentName="ordersGroupEdit"
    class="attached"
    modelProjection=modelProjection.attributes.<%=name%>
    content=model.<%=name%>
    readonly=readonly
    orderable=false
    class=(if model.errors.<%=name%> 'error' '')
  }}
</div>