<div class="field">
  <label><%=caption%></label>
  {{#if model.errors.<%=name%>}}
    <span style="color:red">{{model.errors.<%=name%>}}</span>
  {{/if}}
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.<%=name%>.<%=lookupValueField%>
    relationName='<%=name%>'
    projection='<%=projection%>'
    title='<%=caption%>'
    readonly=readonly
    limitFunction=lookupLimitFunction_<%=name%>
    class=(if model.errors.<%=name%> 'error' '')
  }}
</div>