<h3>{{t "forms.components-examples.flexberry-objectlistview.custom-filter.caption"}}</h3>
<div class="row">
  {{flexberry-objectlistview
    content=model
    modelName="ember-flexberry-dummy-suggestion-type"
    modelProjection=modelProjection
    editFormRoute=editFormRoute
    createNewButton=false
    refreshButton=true
    sorting=computedSorting
    orderable=true
    pages=pages
    perPageValue=perPageValue
    perPageValues=perPageValues
    recordsTotalCount=recordsTotalCount
    hasPreviousPage=hasPreviousPage
    hasNextPage=hasNextPage
    sortByColumn=(action "sortByColumn")
    addColumnToSorting=(action "addColumnToSorting")
    previousPage=(action "previousPage")
    gotoPage=(action "gotoPage")
    nextPage=(action "nextPage")
    colsConfigButton=false
    componentName="FOLVCustomFilterObjectListView"
    toggleFilterByAnyWord='toggleFilterByAnyWord'
    toggleFilterByAllWords='toggleFilterByAllWords'
    beforeDeleteRecord=(action "beforeDeleteRecord")
    showDeleteButtonInRow=true
    showCheckBoxInRow=true
  }}
</div>
