{{flexberry-error error=error}}
<h3 class="ui header">{{t "forms.components-examples.flexberry-objectlistview.selected-rows.caption"}}</h3>
<form class="ui form">
  <div class="inline field">
    <label>Count selected row:</label>
    <div class="ui teal label">{{countSelectedRows}}</div>
  </div>
  <div class="field">
    {{flexberry-objectlistview
      content=model
      modelName="ember-flexberry-dummy-suggestion-type"
      modelProjection=modelProjection
      editFormRoute=editFormRoute
      orderable=false
      showShowingEntries=false
      componentName=componentName
      colsConfigButton=false
      disableHierarchicalMode=true
      showCheckBoxInRow=true
      configurateSelectedRows=(action "configurateSelectedRows")
    }}
  </div>
</form>
