{{flexberry-error error=error}}
<h3 class="ui header">{{t "forms.components-examples.flexberry-objectlistview.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    {{#settings-example
      controllerProperties=this
      componentSettingsMetadata=componentSettingsMetadata
      componentTemplateText=componentTemplateText
    }}
      {{flexberry-objectlistview
        colsConfigButton=colsConfigButton
        exportExcelButton=exportExcelButton
        content=model
        modelName="ember-flexberry-dummy-suggestion"
        editFormRoute='ember-flexberry-dummy-suggestion-edit'
        modelProjection=projection
        placeholder=placeholder
        readonly=readonly
        tableStriped=tableStriped
        allowColumnResize=allowColumnResize
        minAutoColumnWidth=minAutoColumnWidth
        columnsWidthAutoresize=columnsWidthAutoresize
        createNewButton=createNewButton
        deleteButton=deleteButton
        refreshButton=refreshButton
        defaultSortingButton=defaultSortingButton
        enableFilters=enableFilters
        filters=filters
        applyFilters=(action "applyFilters")
        resetFilters=(action "resetFilters")
        filterButton=filterButton
        showCheckBoxInRow=showCheckBoxInRow
        showEditButtonInRow=showEditButtonInRow
        showPrototypeButtonInRow=showPrototypeButtonInRow
        showDeleteButtonInRow=showDeleteButtonInRow
        showEditMenuItemInRow=showEditMenuItemInRow
        showPrototypeMenuItemInRow=showPrototypeMenuItemInRow
        showDeleteMenuItemInRow=showDeleteMenuItemInRow
        rowClickable=rowClickable
        orderable=orderable
        singleColumnHeaderTitle=singleColumnHeaderTitle
        filterByAnyMatch=(action "filterByAnyMatch")
        filterText=filter
        filterByAnyWord=filterByAnyWord
        filterByAllWords=filterByAllWords
        sorting=computedSorting
        sortByColumn=(action "sortByColumn")
        addColumnToSorting=(action "addColumnToSorting")
        beforeDeleteAllRecords=(action "beforeDeleteAllRecords")
        pages=pages
        perPageValue=perPageValue
        perPageValues=perPageValues
        recordsTotalCount=recordsTotalCount
        _availableHierarchicalMode=availableHierarchicalMode
        availableCollExpandMode=availableCollExpandMode
        disableHierarchicalMode=false
        hasPreviousPage=hasPreviousPage
        hasNextPage=hasNextPage
        previousPage=(action "previousPage")
        gotoPage=(action "gotoPage")
        nextPage=(action "nextPage")
        componentName="FOLVSettingsExampleObjectListView"
        fixedHeader=fixedHeader
        }}
    {{/settings-example}}
  </div>
</form>
