<h3>Theming Examples</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <h2 class="ui dividing header">Site</h2>

  <div class="ui three column stackable grid">
    <div class="column">
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    </div>
    <div class="column">
      <h2>Example body text</h2>
      <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
      <p><small>This line of text is meant to be treated as fine print.</small></p>
      <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
      <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
      <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
    </div>
    <div class="column">
      <div class="ui three column stackable padded middle aligned centered color grid">
        <div class="red column">Red</div>
        <div class="orange column">Orange</div>
        <div class="yellow column">Yellow</div>
        <div class="olive column">Olive</div>
        <div class="green column">Green</div>
        <div class="teal column">Teal</div>
        <div class="blue column">Blue</div>
        <div class="violet column">Violet</div>
        <div class="purple column">Purple</div>
        <div class="pink column">Pink</div>
        <div class="brown column">Brown</div>
        <div class="grey column">Grey</div>
        <div class="black column">Black</div>
      </div>
    </div>
  </div>
  <h2 class="ui dividing header">Buttons</h2>
  <div class="ui stackable equal width grid">
    <div class="column">
      <div class="spaced">
        <button class="ui button">Default</button>
        <button class="ui primary button">Primary</button>
        <button class="ui secondary button">Secondary</button>
        <button class="ui accent button">Accent</button>
        <button class="ui lined button">Lined</button>
        <button class="ui empty button">Empty</button>
        <button class="ui basic button">Basic</button>
        <button class="ui compact button">Compact</button>
      </div>

      <div class="ui divider"></div>
      <button class="ui icon button">
        <i class="heart icon"></i>
      </button>
      <button class="ui labeled icon button">
        <i class="heart icon"></i>
        Labeled
      </button>
      <button class="ui right labeled icon button">
        <i class="heart icon"></i>
        Labeled
      </button>

      <div class="ui divider"></div>

      <div class="ui animated button" tabindex="0">
        <div class="visible content">Horizontal</div>
        <div class="hidden content">
          Hidden
        </div>
      </div>
      <div class="ui vertical animated button" tabindex="0">
        <div class="visible content">Vertical</div>
        <div class="hidden content">
          Hidden
        </div>
      </div>
      <div class="ui animated fade button" tabindex="0">
        <div class="visible content">Fade In</div>
        <div class="hidden content">
          Hidden
        </div>
      </div>

      <div class="ui divider"></div>
      <button class="ui disabled button">Disabled</button>
      <button class="ui loading button">Loading</button>

      <div class="ui divider"></div>

      <div class="ui buttons">
        <button class="ui button">1</button>
        <button class="ui button">2</button>
        <button class="ui button">3</button>
      </div>

      <div class="ui icon buttons">
        <button class="ui button"><i class="align left icon"></i></button>
        <button class="ui button"><i class="align center icon"></i></button>
        <button class="ui button"><i class="align right icon"></i></button>
        <button class="ui button"><i class="align justify icon"></i></button>
      </div>

      <div class="ui buttons">
        <button class="ui button">1</button>
        <div class="or"></div>
        <button class="ui button">2</button>
      </div>

      <div class="ui divider"></div>

      <div class="ui two top attached buttons">
        <div class="ui button">One</div>
        <div class="ui button">Two</div>
      </div>
      <div class="ui attached segment">
        <img src="/assets/images/wireframe/paragraph.png" class="ui wireframe image">
      </div>
      <div class="ui two bottom attached buttons">
        <div class="ui button">One</div>
        <div class="ui button">Two</div>
      </div>

    </div>
    <div class="column">
      <button class="ui mini button">Mini</button>
      <button class="ui tiny button">Tiny</button>
      <button class="ui small button">Small</button>
      <button class="ui large button">Large</button>
      <button class="ui big button">Big</button>
      <button class="ui huge button">Huge</button>
      <button class="ui massive button">Massive</button>
      <div class="ui divider"></div>
      <div class="spaced">
        <button class="yellow ui button">Yellow</button>
        <button class="orange ui button">Orange</button>
        <button class="green ui button">Green</button>
        <button class="teal ui button">Teal</button>
        <button class="blue ui button">Blue</button>
        <button class="purple ui button">Purple</button>
        <button class="pink ui button">Pink</button>
        <button class="red ui button">Red</button>
        <button class="black ui button">Black</button>
      </div>


      <div class="ui divider"></div>

      <div class="ui inverted segment">
        <button class="ui inverted button">Inverted</button>
        <button class="ui inverted basic button">Basic</button>
        <button class="ui inverted blue button">Colored</button>
        <button class="ui inverted blue basic button">Basic Colored</button>
      </div>

    </div>
  </div>

  <h2 class="ui dividing header">Input</h2>
  <div class="ui two column stackable grid">
    <div class="column">

      <div class="ui action left icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search...">
        <div class="ui teal button">Search</div>
      </div>

      <div class="ui divider"></div>
      <div class="ui input error">
        <input placeholder="Search..." type="text">
      </div>
      <div class="ui divider"></div>

      <div class="ui right labeled input">
        <input placeholder="Placeholder" type="text">
        <div class="ui dropdown label">
          <div class="text">Dropdown</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Choice 1</div>
            <div class="item">Choice 2</div>
            <div class="item">Choice 3</div>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>

      <div class="ui transparent icon input">
        <input placeholder="Search..." type="text">
        <i class="search icon"></i>
      </div>
      <div class="ui transparent left icon input">
        <input placeholder="Search..." type="text">
        <i class="search icon"></i>
      </div>
      <div class="ui divider"></div>
      <div class="ui left icon input loading">
        <input placeholder="Loading..." type="text">
        <i class="search icon"></i>
      </div>

      <div class="ui icon input loading">
        <input placeholder="Loading..." type="text">
        <i class="search icon"></i>
      </div>

    </div>
    <div class="column">
      <div class="ui right labeled left icon input">
        <i class="tags icon"></i>
        <input placeholder="Enter tags" type="text">
        <a class="ui tag label">
          Add Tag
        </a>
      </div>
      <div class="ui divider"></div>
      <div class="ui labeled input">
        <a class="ui label">
          Label
        </a>
        <input type="text" placeholder="Placeholder...">
      </div>
      <div class="ui divider"></div>
      <div class="ui right labeled input">
        <input type="text" placeholder="Placeholder...">
        <a class="ui label">
          Label
        </a>
      </div>
      <div class="ui divider"></div>
      <div class="ui labeled icon input">
        <div class="ui label">
          http://
        </div>
        <input type="text" placeholder="domain.com">
        <i class="add circle link icon"></i>
      </div>
      <div class="ui right action input">
        <input type="text" placeholder="domain.com">
        <div class="ui teal button">
          <i class="add icon"></i>
          Add
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="ui corner labeled input">
        <input type="text" placeholder="Required Field">
        <div class="ui corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>

    </div>
  </div>

</form>
