{{flexberry-error error=error}}
<h3>{{t "forms.user-setting-forms.user-setting-delete.caption"}}</h3>
<div class="row">
  {{flexberry-objectlistview
    modelName = modelName
    modelProjection = modelProjection
    content = model
    createNewButton = false
    refreshButton = true
    deleteButton = true
    filterButton = true
    filterText=filter
    filterByAnyMatch=(action 'filterByAnyMatch')
    showCheckBoxInRow = true
    sorting = computedSorting
    orderable = true
    sortByColumn = (action "sortByColumn")
    addColumnToSorting = (action "addColumnToSorting")
    pages = pages
    perPageValue = perPageValue
    perPageValues = perPageValues
    recordsTotalCount=recordsTotalCount
    hasPreviousPage = hasPreviousPage
    hasNextPage = hasNextPage
    previousPage = (action "previousPage")
    gotoPage = (action "gotoPage")
    nextPage = (action "nextPage")
    customButtons=customButtons
    allDelButtonAction='allDelButtonAction'
    componentName="userSettingObjectListView"
    rowClickable = false
  }}
</div>
