<h3 class="ui header">{{t "forms.components-examples.flexberry-textbox.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{#settings-example
    controllerProperties=this
    componentSettingsMetadata=componentSettingsMetadata
    componentTemplateText=componentTemplateText
    componentBlockOverflow="visible"
  }}
    {{flexberry-textbox
      class=class
      value=model.text
      placeholder=placeholder
      readonly=readonly
      maxlength=maxlength
    }}
  {{/settings-example}}
</form>
