<h3>{{t "forms.integration-examples.icons.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="ui eight column grid">
    {{#each iconNames as |icon|}}
      <div class="column block-icon">
        <i class={{icon}}></i>
        <p>{{icon}}</p>
      </div>
    {{/each}}
  </div>
</form>