<h3>Иконки</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="ui grid">
    <div class="icon-container">
      <div class="block-icon"><i class="icon-guideline-clear-layers"><p>icon-guideline-clear-layers</p></i></div>
      <div class="block-icon"><i class="icon-guideline-earth-zu"><p>icon-guideline-earth-zu</p></i></div>
      <div class="block-icon"><i class="icon-guideline-group-minus-audit"><p>icon-guideline-group-minus-audit</p></i></div>
      <div class="block-icon"><i class="icon-guideline-group-plus-audit"><p>icon-guideline-group-plus-audit</p></i></div>
      <div class="block-icon"><i class="icon-guideline-group-edit-audit"><p>icon-guideline-group-edit-audit</p></i></div>
      <div class="block-icon"><i class="icon-guideline-navigate-arrow-left"><p>icon-guideline-navigate-arrow-left</p></i></div>
      <div class="block-icon"><i class="icon-guideline-navigate-arrow-up"><p>icon-guideline-navigate-arrow-up</p></i></div>
      <div class="block-icon"><i class="icon-guideline-download-layer"><p>icon-guideline-download-layer</p></i></div>
      <div class="block-icon"><i class="icon-guideline-goout"><p>icon-guideline-goout</p></i></div>
      <div class="block-icon"><i class="icon-guideline-line"><p>icon-guideline-line</p></i></div>
      <div class="block-icon"><i class="icon-guideline-line-plus"><p>icon-guideline-line-plus</p></i></div>
      <div class="block-icon"><i class="icon-guideline-copy-doc"><p>icon-guideline-copy-doc</p></i></div>
      <div class="block-icon"><i class="icon-guideline-share"><p>icon-guideline-share</p></i></div>
      <div class="block-icon"><i class="icon-guideline-Arrows-max-left"><p>icon-guideline-Arrows-max-left</p></i></div>
      <div class="block-icon"><i class="icon-guideline-Arrows-max-right"><p>icon-guideline-Arrows-max-right</p></i></div>
      <div class="block-icon"><i class="icon-guideline-bookmark"><p>icon-guideline-bookmark</p></i></div>
      <div class="block-icon"><i class="icon-guideline-bookmark-filled"><p>icon-guideline-bookmark-filled</p></i></div>
      <div class="block-icon"><i class="icon-guideline-chart"><p>icon-guideline-chart</p></i></div>
      <div class="block-icon"><i class="icon-guideline-circle"><p>icon-guideline-circle</p></i></div>
      <div class="block-icon"><i class="icon-guideline-archive"><p>icon-guideline-archive</p></i></div>
      <div class="block-icon"><i class="icon-guideline-clock"><p>icon-guideline-clock</p></i></div>
      <div class="block-icon"><i class="icon-guideline-compare"><p>icon-guideline-compare</p></i></div>
      <div class="block-icon"><i class="icon-guideline-compass"><p>icon-guideline-compass</p></i></div>
      <div class="block-icon"><i class="icon-guideline-coordinates"><p>icon-guideline-coordinates</p></i></div>
      <div class="block-icon"><i class="icon-guideline-copy-map"><p>icon-guideline-copy-map</p></i></div>
      <div class="block-icon"><i class="icon-guideline-cross-arrow"><p>icon-guideline-cross-arrow</p></i></div>
      <div class="block-icon"><i class="icon-guideline-cut"><p>icon-guideline-cut</p></i></div>
      <div class="block-icon"><i class="icon-guideline-eraser"><p>icon-guideline-eraser</p></i></div>
      <div class="block-icon"><i class="icon-guideline-grid"><p>icon-guideline-grid</p></i></div>
      <div class="block-icon"><i class="icon-guideline-hand"><p>icon-guideline-hand</p></i></div>
      <div class="block-icon"><i class="icon-guideline-intersection"><p>icon-guideline-intersection</p></i></div>
      <div class="block-icon"><i class="icon-guideline-layer-all"><p>icon-guideline-layer-all</p></i></div>
      <div class="block-icon"><i class="icon-guideline-layer-first"><p>icon-guideline-layer-first</p></i></div>
      <div class="block-icon"><i class="icon-guideline-layers-info"><p>icon-guideline-layers-info</p></i></div>
      <div class="block-icon"><i class="icon-guideline-layer-visible"><p>icon-guideline-layer-visible</p></i></div>
      <div class="block-icon"><i class="icon-guideline-marker-point"><p>icon-guideline-marker-point</p></i></div>
      <div class="block-icon"><i class="icon-guideline-marker"><p>icon-guideline-marker</p></i></div>
      <div class="block-icon"><i class="icon-guideline-measure"><p>icon-guideline-measure</p></i></div>
      <div class="block-icon"><i class="icon-guideline-plus-min"><p>icon-guideline-plus-min</p></i></div>
      <div class="block-icon"><i class="icon-guideline-points"><p>icon-guideline-points</p></i></div>
      <div class="block-icon"><i class="icon-guideline-print"><p>icon-guideline-print</p></i></div>
      <div class="block-icon"><i class="icon-guideline-rectangle"><p>icon-guideline-rectangle</p></i></div>
      <div class="block-icon"><i class="icon-guideline-scissors"><p>icon-guideline-scissors</p></i></div>
      <div class="block-icon"><i class="icon-guideline-search-plus"><p>icon-guideline-search-plus</p></i></div>
      <div class="block-icon"><i class="icon-guideline-table"><p>icon-guideline-table</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-long-back"><p>icon-guideline-arrow-long-back</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-long-down"><p>icon-guideline-arrow-long-down</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-long-up"><p>icon-guideline-arrow-long-up</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-long-next"><p>icon-guideline-arrow-long-next</p></i></div>
      <div class="block-icon"><i class="icon-guideline-book"><p>icon-guideline-book</p></i></div>
      <div class="block-icon"><i class="icon-guideline-resize-plus"><p>icon-guideline-resize-plus</p></i></div>
      <div class="block-icon"><i class="icon-guideline-resize-minus"><p>icon-guideline-resize-minus</p></i></div>
      <div class="block-icon"><i class="icon-guideline-edit-circle"><p>icon-guideline-edit-circle</p></i></div>
      <div class="block-icon"><i class="icon-guideline-minus-circle"><p>icon-guideline-minus-circle</p></i></div>
      <div class="block-icon"><i class="icon-guideline-plus-circle"><p>icon-guideline-plus-circle</p></i></div>
      <div class="block-icon"><i class="icon-guideline-logout"><p>icon-guideline-logout</p></i></div>
      <div class="block-icon"><i class="icon-guideline-hide"><p>icon-guideline-hide</p></i></div>
      <div class="block-icon"><i class="icon-guideline-show"><p>icon-guideline-show</p></i></div>
      <div class="block-icon"><i class="icon-guideline-save-close"><p>icon-guideline-save-close</p></i></div>
      <div class="block-icon"><i class="icon-guideline-document"><p>icon-guideline-document</p></i></div>
      <div class="block-icon"><i class="icon-guideline-document-upload"><p>icon-guideline-document-upload</p></i></div>
      <div class="block-icon"><i class="icon-guideline-external-layer"><p>icon-guideline-external-layer</p></i></div>
      <div class="block-icon"><i class="icon-guideline-group-plus"><p>icon-guideline-group-plus</p></i></div>
      <div class="block-icon"><i class="icon-guideline-lock"><p>icon-guideline-lock</p></i></div>
      <div class="block-icon"><i class="icon-guideline-map"><p>icon-guideline-map</p></i></div>
      <div class="block-icon"><i class="icon-guideline-polygone"><p>icon-guideline-polygone</p></i></div>
      <div class="block-icon"><i class="icon-guideline-rast-map"><p>icon-guideline-rast-map</p></i></div>
      <div class="block-icon"><i class="icon-guideline-check"><p>icon-guideline-check</p></i></div>
      <div class="block-icon"><i class="icon-guideline-circle-check"><p>icon-guideline-circle-check</p></i></div>
      <div class="block-icon"><i class="icon-guideline-copy-r"><p>icon-guideline-copy-r</p></i></div>
      <div class="block-icon"><i class="icon-guideline-cross-r"><p>icon-guideline-cross-r</p></i></div>
      <div class="block-icon"><i class="icon-guideline-delete-r"><p>icon-guideline-delete-r</p></i></div>
      <div class="block-icon"><i class="icon-guideline-earth"><p>icon-guideline-earth</p></i></div>
      <div class="block-icon"><i class="icon-guideline-earth-1"><p>icon-guideline-earth-1</p></i></div>
      <div class="block-icon"><i class="icon-guideline-earth-plus"><p>icon-guideline-earth-plus</p></i></div>
      <div class="block-icon"><i class="icon-guideline-edit-r"><p>icon-guideline-edit-r</p></i></div>
      <div class="block-icon"><i class="icon-guideline-edit-note"><p>icon-guideline-edit-note</p></i></div>
      <div class="block-icon"><i class="icon-guideline-file-download"><p>icon-guideline-file-download</p></i></div>
      <div class="block-icon"><i class="icon-guideline-folder"><p>icon-guideline-folder</p></i></div>
      <div class="block-icon"><i class="icon-guideline-circle-problem"><p>icon-guideline-circle-problem</p></i></div>
      <div class="block-icon"><i class="icon-guideline-circle-more"><p>icon-guideline-circle-more</p></i></div>
      <div class="block-icon"><i class="icon-guideline-circle-info"><p>icon-guideline-circle-info</p></i></div>
      <div class="block-icon"><i class="icon-guideline-layers"><p>icon-guideline-layers</p></i></div>
      <div class="block-icon"><i class="icon-guideline-navigate-arrow-down"><p>icon-guideline-navigate-arrow-down</p></i></div>
      <div class="block-icon"><i class="icon-guideline-navigate-arrow"><p>icon-guideline-navigate-arrow</p></i></div>
      <div class="block-icon"><i class="icon-guideline-minus-r"><p>icon-guideline-minus-r</p></i></div>
      <div class="block-icon"><i class="icon-guideline-plus-r"><p>icon-guideline-plus-r</p></i></div>
      <div class="block-icon"><i class="icon-guideline-search-r"><p>icon-guideline-search-r</p></i></div>
      <div class="block-icon"><i class="icon-guideline-user"><p>icon-guideline-user</p></i></div>
      <div class="block-icon"><i class="icon-guideline-check-menu"><p>icon-guideline-check-menu</p></i></div>
      <div class="block-icon"><i class="icon-guideline-flask"><p>icon-guideline-flask</p></i></div>
      <div class="block-icon"><i class="icon-guideline-copy"><p>icon-guideline-copy</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-long-down1"><p>icon-guideline-arrow-long-down1</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-long-left"><p>icon-guideline-arrow-long-left</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-long-right"><p>icon-guideline-arrow-long-right</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-long-up1"><p>icon-guideline-arrow-long-up1</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-short-down"><p>icon-guideline-arrow-short-down</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-short-down-filled"><p>icon-guideline-arrow-short-down-filled</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-short-left"><p>icon-guideline-arrow-short-left</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-short-right-l"><p>icon-guideline-arrow-short-right-l</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-short-right-m"><p>icon-guideline-arrow-short-right-m</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-short-right-xl"><p>icon-guideline-arrow-short-right-xl</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-short-up"><p>icon-guideline-arrow-short-up</p></i></div>
      <div class="block-icon"><i class="icon-guideline-arrow-up-right"><p>icon-guideline-arrow-up-right</p></i></div>
      <div class="block-icon"><i class="icon-guideline-cloud"><p>icon-guideline-cloud</p></i></div>
      <div class="block-icon"><i class="icon-guideline-columns"><p>icon-guideline-columns</p></i></div>
      <div class="block-icon"><i class="icon-guideline-cross"><p>icon-guideline-cross</p></i></div>
      <div class="block-icon"><i class="icon-guideline-date"><p>icon-guideline-date</p></i></div>
      <div class="block-icon"><i class="icon-guideline-datetime"><p>icon-guideline-datetime</p></i></div>
      <div class="block-icon"><i class="icon-guideline-delete"><p>icon-guideline-delete</p></i></div>
      <div class="block-icon"><i class="icon-guideline-download"><p>icon-guideline-download</p></i></div>
      <div class="block-icon"><i class="icon-guideline-drag-and-drop"><p>icon-guideline-drag-and-drop</p></i></div>
      <div class="block-icon"><i class="icon-guideline-edit"><p>icon-guideline-edit</p></i></div>
      <div class="block-icon"><i class="icon-guideline-excel"><p>icon-guideline-excel</p></i></div>
      <div class="block-icon"><i class="icon-guideline-eye"><p>icon-guideline-eye</p></i></div>
      <div class="block-icon"><i class="icon-guideline-eye-closed"><p>icon-guideline-eye-closed</p></i></div>
      <div class="block-icon"><i class="icon-guideline-file"><p>icon-guideline-file</p></i></div>
      <div class="block-icon"><i class="icon-guideline-filter"><p>icon-guideline-filter</p></i></div>
      <div class="block-icon"><i class="icon-guideline-filter-active"><p>icon-guideline-filter-active</p></i></div>
      <div class="block-icon"><i class="icon-guideline-like"><p>icon-guideline-like</p></i></div>
      <div class="block-icon"><i class="icon-guideline-list"><p>icon-guideline-list</p></i></div>
      <div class="block-icon"><i class="icon-guideline-mail"><p>icon-guideline-mail</p></i></div>
      <div class="block-icon"><i class="icon-guideline-menu-ellipsis-horizontal"><p>icon-guideline-menu-ellipsis-horizontal</p></i></div>
      <div class="block-icon"><i class="icon-guideline-menu-hamburger"><p>icon-guideline-menu-hamburger</p></i></div>
      <div class="block-icon"><i class="icon-guideline-photo"><p>icon-guideline-photo</p></i></div>
      <div class="block-icon"><i class="icon-guideline-play"><p>icon-guideline-play</p></i></div>
      <div class="block-icon"><i class="icon-guideline-plus"><p>icon-guideline-plus</p></i></div>
      <div class="block-icon"><i class="icon-guideline-minus"><p>icon-guideline-minus</p></i></div>
      <div class="block-icon"><i class="icon-guideline-profile"><p>icon-guideline-profile</p></i></div>
      <div class="block-icon"><i class="icon-guideline-refresh"><p>icon-guideline-refresh</p></i></div>
      <div class="block-icon"><i class="icon-guideline-sad"><p>icon-guideline-sad</p></i></div>
      <div class="block-icon"><i class="icon-guideline-search"><p>icon-guideline-search</p></i></div>
      <div class="block-icon"><i class="icon-guideline-select-all"><p>icon-guideline-select-all</p></i></div>
      <div class="block-icon"><i class="icon-guideline-setting"><p>icon-guideline-setting</p></i></div>
      <div class="block-icon"><i class="icon-guideline-sort-ascend"><p>icon-guideline-sort-ascend</p></i></div>
      <div class="block-icon"><i class="icon-guideline-sort-clear"><p>icon-guideline-sort-clear</p></i></div>
      <div class="block-icon"><i class="icon-guideline-sort-descend"><p>icon-guideline-sort-descend</p></i></div>
      <div class="block-icon"><i class="icon-guideline-success"><p>icon-guideline-success</p></i></div>
      <div class="block-icon"><i class="icon-guideline-upload"><p>icon-guideline-upload</p></i></div>
      <div class="block-icon"><i class="icon-guideline-warning"><p>icon-guideline-warning</p></i></div>
      <div class="block-icon"><i class="icon-guideline-error"><p>icon-guideline-error</p></i></div>
      <div class="block-icon"><i class="icon-guideline-menu-ellipsis-vertical"><p>icon-guideline-menu-ellipsis-vertical</p></i></div>
      <div class="block-icon"><i class="icon-guideline-gear"><p>icon-guideline-gear</p></i></div>
      <div class="block-icon"><i class="icon-guideline-save"><p>icon-guideline-save</p></i></div>
    </div>
  </div>
</form>
