<h3>Список мастер детейла</h3>
<div class="row">
  {{flexberry-objectlistview
    modelName="ember-flexberry-dummy-мастер-детейла"
    modelProjection=modelProjection
    editFormRoute="ember-flexberry-dummy-форма-мастер-детейла"
    content=model
    createNewButton=true
    refreshButton=true
    sorting=computedSorting
    orderable=true
    sortByColumn=(action "sortByColumn")
    addColumnToSorting=(action "addColumnToSorting")
    pages=pages
    perPageValue=perPageValue
    perPageValues=perPageValues
    hasPreviousPage=hasPreviousPage
    hasNextPage=hasNextPage
    previousPage=(action "previousPage")
    gotoPage=(action "gotoPage")
    nextPage=(action "nextPage")
  }}
</div>
