<h3>Suggestions - list form</h3>
<div class="row">
{{
  flexberry-objectlistview
  editFormRoute=editFormRoute
  modelName = "ember-flexberry-dummy-suggestion"
  modelProjection = modelProjection
  content = model
  createNewButton = true
  refreshButton = true
  sorting = computedSorting
  orderable = true
  sortByColumn = (action "sortByColumn")
  addColumnToSorting = (action "addColumnToSorting")
  pages = pages
  perPageValue = perPageValue
  perPageValues = perPageValues
  hasPreviousPage = hasPreviousPage
  hasNextPage = hasNextPage
  previousPage = (action "previousPage")
  gotoPage = (action "gotoPage")
  nextPage = (action "nextPage")
}}
</div>
