<h3>Employees - list form</h3>

<div class="row">
  {{flexberry-objectlistview
    modelName="employee"
    editFormRoute = editFormRoute
    modelProjection=modelProjection
    content=model

    createNewButton=true
    refreshButton=true
	  showDeleteButtonInRow=true
    showDeleteMenuItemInRow = true
    classButton='grey'

    filterButton=true
    filterText=filter
    filterByAnyMatch=(action 'filterByAnyMatch')

    sorting=computedSorting
    orderable=true
    sortByColumn=(action "sortByColumn")
    addColumnToSorting=(action "addColumnToSorting")
    action="rowClick"

    pages=pages
    perPageValue=perPageValue
    perPageValues=perPageValues
    hasPreviousPage=hasPreviousPage
    hasNextPage=hasNextPage
    previousPage=(action "previousPage")
    gotoPage=(action "gotoPage")
    nextPage=(action "nextPage")
  }}
</div>
