<div class="ui cards">
  <a class="ui card">
    <div class="content">
      <i class="right floated edit outline icon" ></i>
      <div class="header">Заголовок</div>
      <div class="description">
        <p>Подзаголовок</p>
      </div>
    </div>
  </a>

    <a class="ui card">
    <div class="content">
      <i class="right floated edit outline icon" ></i>
      <div class="header">Заголовок</div>
      <div class="description">
        <ul>
          <li><a href="#">Ссылка на подраздел</a></li>
          <li><a href="#">Ссылка</a></li>
          <li><a href="#">Ссылка на</a></li>
        </ul>
      </div>
    </div>
  </a>

  <a class="ui card">
    <div class="content">
      <i class="right floated edit outline icon" ></i>
      <div class="header">Заголовок</div>
      <div class="description">
        <p>Подзаголовок</p>
      </div>
    </div>
  </a>
  <a class="ui card">
    <div class="content">
      <i class="right floated edit outline icon" ></i>
      <div class="header">Заголовок</div>
      <div class="description">
        <p>Подзаголовок</p>
      </div>
    </div>
  </a>

  <a class="ui card">
    <div class="content">
      <i class="right floated edit outline icon" ></i>
      <div class="header">Заголовок</div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </a>

  <a class="ui card">
    <div class="content">
      <i class="right floated edit outline icon" ></i>
      <div class="header">Заголовок</div>
      <div class="description">
        <p>Подзаголовок</p>
      </div>
    </div>
  </a>
</div>

<div class="ui cards">

  <div class="ui card big">
    <div class="content">
      <div class="header">Поиск</div>
      <form class="ui form">
        {{flexberry-field
          label="Название поля"
          placeholder="Фамилия, имя и отчество"
        }}

        {{flexberry-field
          label="Название поля"
          placeholder="ДД.ММ.ГГГГ или выберите в календаре"
        }}

        {{flexberry-button
          class="blue"
          caption="Поиск"
        }}

        {{flexberry-checkbox
          label="По всем ОСЗ"
        }}
      </form>
    </div>
  </div>

</div>