<h3>Orders - list form</h3>

<div class="row">
  {{flexberry-objectlistview
    modelName = "order"
	modelProjection = modelProjection
	content = model

    createNewButton = true
    refreshButton = true

	sorting = computedSorting
	orderable = true
	sortByColumn = (action "sortByColumn")
	addColumnToSorting = (action "addColumnToSorting")
	action = "rowClick"

	pages = pages
	perPageValue = perPageValue
	perPageValues = perPageValues
	hasPreviousPage = hasPreviousPage
	hasNextPage = hasNextPage
	previousPage = (action "previousPage")
	gotoPage = (action "gotoPage")
	nextPage = (action "nextPage")
  }}
</div>
