<h3 class="ui header">{{title}}</h3>
<form class="ui form" role="form">
  <div class="form-group field">
    <div class="ui two wide column right aligned  middle aligned content">
      <label>Enumeration</label>
    </div>
    <div>
      {{flexberry-dropdown
        items=model.enumerationAvailableValues
        value=model.enumeration
      }}
    </div>
  </div>
</form>
