<h3 class="ui header">{{title}}</h3>
<form class="ui form" role="form">
  <div class="form-group field">
    <div class="ui two wide column right aligned  middle aligned content">
      <label>Flexberry menu</label>
    </div>
    <div>
      {{flexberry-menu
        class='compact'
        items=items
        onItemClick=(action 'onMenuItemClick')
      }}
    </div>
  </div>
</form>
