<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.customizing-window-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    {{flexberry-lookup
      value=model.editor1
      relatedModel=model
      projection=projectionName
      displayAttributeName="name"
      title=(t "forms.components-examples.flexberry-lookup.customizing-window-example.titleLookup")
      relationName="editor1"
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
      readonly=readonly
      lookupWindowCustomProperties=(action 'getLookupFolvProperties')
      componentName="SuggestionEditor1ForLookupCustomWindowTest"
    }}
  </div>
</form>