<div class="field base isreadonly">
  {{flexberry-lookup
    value=model.readonly.type
    relatedModel=model.readonly
    projection="LookupWithLimitFunctionExampleView"
    displayAttributeName="id"
    title=(t "forms.components-examples.flexberry-lookup.autofill-by-limit-example.titleLookup")
    relationName="type"
    choose="showLookupDialog"
    remove="removeLookupValue"
    readonly=true
    lookupLimitPredicate=lookupCustomLimitPredicate
    autocomplete=true
    autofillByLimit=true
  }}
</div>

<div class="field base isclean">
  {{flexberry-lookup
    value=model.base.type
    relatedModel=model.base
    projection="LookupWithLimitFunctionExampleView"
    displayAttributeName="id"
    title=(t "forms.components-examples.flexberry-lookup.autofill-by-limit-example.titleLookup")
    relationName="type"
    choose="showLookupDialog"
    remove="removeLookupValue"
    readonly=readonly
    lookupLimitPredicate=lookupCustomLimitPredicate
    autocomplete=true
    autofillByLimit=true
  }}
</div>

<div class="field exist">
  {{flexberry-lookup
    value=model.exist.type
    relatedModel=model.exist
    projection="LookupWithLimitFunctionExampleView"
    displayAttributeName="id"
    title=(t "forms.components-examples.flexberry-lookup.autofill-by-limit-example.titleLookup")
    relationName="type"
    choose="showLookupDialog"
    remove="removeLookupValue"
    readonly=readonly
    lookupLimitPredicate=lookupCustomLimitPredicate
    autocomplete=true
    autofillByLimit=true
  }}
</div>
