{{flexberry-error error=error}}
<h3>{{t 'forms.integration-examples.odata-examples.get-masters.ember-flexberry-dummy-departament-l.caption'}}</h3>
<div class="row">
  {{flexberry-objectlistview
    modelName=modelName
    modelProjection=modelProjection
    editFormRoute=editFormRoute
    content=model
    createNewButton=true
    refreshButton=true
    sorting=computedSorting
    orderable=true
    showCheckBoxInRow=true
    sortByColumn=(action "sortByColumn")
    addColumnToSorting=(action "addColumnToSorting")
    beforeDeleteAllRecords=(action "beforeDeleteAllRecords")
    pages=pages
    perPageValue=perPageValue
    perPageValues=perPageValues
    recordsTotalCount=recordsTotalCount
    hasPreviousPage=hasPreviousPage
    hasNextPage=hasNextPage
    previousPage=(action "previousPage")
    gotoPage=(action "gotoPage")
    nextPage=(action "nextPage")
    componentName="EmberFlexberryDummyDepartamentL"
  }}
</div>