<h3 class="ui header">{{t "forms.components-examples.flexberry-file.file-in-modal.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  <button type="button" class="ui button" {{action "showModal"}}>{{t "forms.components-examples.flexberry-file.file-in-modal.buttonModal"}}</button>
</form>