<h3 class="ui header">{{t "forms.components-examples.flexberry-file.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <a href="https://flexberry.github.io/ru/ef2_file.html">
    {{t "forms.components-examples.docs-link"}}
  </a>
  {{#settings-example
    controllerProperties=this
    componentSettingsMetadata=componentSettingsMetadata
    componentTemplateText=componentTemplateText
    componentBlockOverflow="visible"
  }}
    {{flexberry-file
      value=model.file
      placeholder=placeholder
      readonly=readonly
      uploadUrl=uploadUrl
      maxUploadFileSize=maxUploadFileSize
      maxUploadFileSizeUnit=maxUploadFileSizeUnit
      showPreview=showPreview
      showUploadButton=showUploadButton
      showDownloadButton=showDownloadButton
      showModalDialogOnUploadError=showModalDialogOnUploadError
      showModalDialogOnDownloadError=showModalDialogOnDownloadError
      inputClass=inputClass
      buttonClass=buttonClass
      openFileInNewWindowInsteadOfLoading=openFileInNewWindowInsteadOfLoading
      base64Value=base64Value
      base64FileName=base64FileName
      base64FileExtension=base64FileExtension
    }}
  {{/settings-example}}
</form>
