<h3 class="ui header">{{t "forms.components-examples.flexberry-button.settings-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <a href="https://flexberry.github.io/ru/ef2_edit-form-components.html#flexberry-button">
    {{t "forms.components-examples.docs-link"}}
  </a>
  <div class="field">
    {{#settings-example
      controllerProperties=this
      componentSettingsMetadata=componentSettingsMetadata
      componentTemplateText=componentTemplateText
      componentBlockOverflow="visible"
    }}
      {{flexberry-button
        class=class
        iconClass=iconClass
        caption=caption
        tooltip=tooltip
        readonly=readonly
        click=(action "onButtonClick")
      }}
    {{/settings-example}}
  </div>
</form>
