{{flexberry-error error=error}}
<h3>{{t "forms.ember-flexberry-dummy-application-user-list.caption"}}</h3>
<div class="row">
  {{flexberry-simpleolv
    content=model
    modelName="ember-flexberry-dummy-application-user"
    modelProjection=modelProjection
    editFormRoute=editFormRoute
    createNewButton=false
    refreshButton=true
    sorting=computedSorting
    orderable=true
    pages=pages
    perPageValue=perPageValue
    perPageValues=perPageValues
    recordsTotalCount=recordsTotalCount
    hasPreviousPage=hasPreviousPage
    hasNextPage=hasNextPage
    sortByColumn=(action "sortByColumn")
    addColumnToSorting=(action "addColumnToSorting")
    previousPage=(action "previousPage")
    gotoPage=(action "gotoPage")
    nextPage=(action "nextPage")
    componentName="SOLVOnEditFormObjectListView"
  }}
</div>
