{{ui-message
  type = 'error'
  closeable = true
  visible = errorMessage
  title = "Login failed"
  message = errorMessage
}}

{{! Login form; the fields must be named "identification" and "password"; the controller action is "authenticate" }}
{{! Error message can be included inside ui form: http://semantic-ui.com/collections/form.html#error }}
<form {{action 'authenticate' on='submit'}} class="ui form">
  <div class="field">
    <label>Login</label>
    {{input value=identification placeholder='Enter Login' type='text'}}
  </div>
  <div class="field">
    <label>Password</label>
    {{input value=password placeholder='Enter Password' type='password'}}
  </div>
  <button type="submit" class="ui button">Login</button>
</form>
