{{#modal-dialog title='Lookup' ok='saveLookupDialog' close='removeModalDialog'}}
  <div id="lookup-list" class="list-group" style="height: 300px; width: 570px;">
    {{ember-table
    hasFooter=false
    enableContentSelection=false
    columns=tableColumns
    content=tableContent
    }}
  </div>
{{/modal-dialog}}