{{#modal-dialog title='Lookup' ok='saveLookupDialog' close='removeModalDialog'}}
  <div id="lookup-list" class="list-group" style="height: 300px; width: 570px;">
    {{object-list-view
      class = "ui bottom attached"
      modelProjection = modelProjection
      content = model
    }}
  </div>
{{/modal-dialog}}