<div id="lookup-list" class="list-group">
  {{flexberry-objectlistview
    class="ui bottom attached"
    modelProjection=modelProjection
    modelName=modelName
    content=model
    selectedRecord=currentLookupRow
    componentMode="lookupform"
    componentName=folvComponentName
    lookupComponentName=componentName
    showEditMenuItemInRow=false
    createNewButton=false
    showCheckBoxInRow=false
    colsConfigButton=false
    columnsWidthAutoresize=true
    filterByAnyMatch=(action "filterByAnyMatch")
    filterText=filter
    filters=filters
    applyFilters=(action "applyFilters")
    resetFilters=(action "resetFilters")
    customProperties=customPropertiesData
    pages=pages
    perPageValue=perPageValue
    perPageValues=perPageValues
    recordsTotalCount=recordsTotalCount
    hasPreviousPage=hasPreviousPage
    hasNextPage=hasNextPage
    previousPage=(action "previousPage")
    gotoPage=(action "gotoPage")
    nextPage=(action "nextPage")
    disableHierarchicalMode=disableHierarchicalMode
    sorting=computedSorting
    orderable=true
    sortByColumn=(action "sortByColumn")
    addColumnToSorting=(action "addColumnToSorting")
    notUseUserSettings=notUseUserSettings
    beforeDeleteAllRecords=(action "beforeDeleteAllRecords")
    data-test-lookup-olv=true
  }}
</div>