<div id="lookup-list" class="list-group">
  {{flexberry-objectlistview
    class="ui bottom attached"
    modelProjection=modelProjection
    content=model
    selectedRecord=currentLookupRow
    componentMode='lookupform'
    componentName='flexberry-objectlistview-at-lookup'

    filterByAnyMatch=(action 'filterByAnyMatch')
    filterText=filter

    customProperties=customPropertiesData

    pages=pages
    perPageValue=perPageValue
    perPageValues=perPageValues
    hasPreviousPage=hasPreviousPage
    hasNextPage=hasNextPage
    previousPage=(action "previousPage")
    gotoPage=(action "gotoPage")
    nextPage=(action "nextPage")

    sorting=computedSorting
    orderable=true
    sortByColumn=(action "sortByColumn")
    addColumnToSorting=(action "addColumnToSorting")
  }}
</div>
