<li class="list-group-item">
  {{#if model.link}}
    {{#link-to model.link}}
      {{model.title}}
    {{/link-to}}
  {{else}}
    {{model.title}}
  {{/if}}

  {{#if model.children.length}}
    <ul>
      {{#each model.children as |child|}}
        {{render "sitemap-node" child}}
      {{/each}}
    </ul>
  {{/if}}
</li>
