{{#if model.link}}
  {{#link-to model.link class="item" invokeAction=(action 'hideSidebar')}}
    {{partial "sitemap-node-content"}}
  {{/link-to}}
{{else}}
  <div class="item">
    {{partial "sitemap-node-content"}}
  </div>
{{/if}}
